@keyframes barIntro {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes mainIntro {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.introBar {
  transition: all 2.4s 0.4s ease;
  animation-name: barIntro;
  animation-duration: 3.5s;
  width: 100vw;
  height: 100vh;
}

.introBar img {
  width: 100%;
  height: 100%;
}

.mainContent {
  transition: all 2s ease;
  animation-name: mainIntro;
  animation-duration: 2s;
  width: 100%;
}

.logos {
  display: flex;
  justify-content: space-between;
}

.imgRightBottom {
  position: absolute;
  margin-top: 972px;
  right: 0;
}

.imgRightBottom img {
  width: 200px;
}

.secondContent {
  min-height: 824px;
  background-image: url("../resources/img/dibujo.png");
  background-repeat: no-repeat;
  background-position: center top;
  z-index: 45;
}
p,
span {
  color: blue;
}

.writingField {
  outline: none;
  border: none;
  background-color: rgb(0, 0, 0);
  color: blue;
}
